.substrate-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .buttons {
    display: flex;
    margin-top: 5px;

    .cancel {
      flex: 1;
      margin-right: 5px;
    }
    .confirm {
      flex: 2;
    }
  }
}
