'menu': [
	{
		label: 'Packages'
		submenu: [
			{
				label: 'Substrate plugin'
				submenu: [
					{
						label: 'Toggle plugin'
						command: 'substrate-plugin:toggle'
					}
					{
						label: 'Toggle sidebar'
						command: 'substrate-plugin:toggle-sidebar'
					}
				]
			}
		]
	}
]
