'context-menu':
	'atom-text-editor': [
		{
			label: 'Toggle substrate-plugin'
			command: 'substrate-plugin:toggle'
		}
	]
'menu': [
	{
		label: 'Packages'
		submenu: [
			{
				label: 'Substrate plugin'
				submenu: [
					{
						label: 'Toggle substrate-plugin'
						command: 'substrate-plugin:toggle'
					}
				]
			}
		]
	}
]
