// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./tabs";

.substrate-plugin {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #181a1f;
    margin-bottom: 5px;

    .title {
      margin: 5px 10px;
      font-size: 12px;
    }

    .buttons {
      height: 100%;
      border-left: 1px solid #181a1f;
      .button {
        padding: 5px 10px;
        cursor: pointer;
        font-size: 0;
        line-height: inherit;
        &:before {
          content: '• • •';
          font-size: 11px;
        }
      }
    }
  }

  .substrate-plugin-sidebar .accordion {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .tab {
      display: flex;
      flex-direction: column;

      .tab-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 24px;
        background-color: #2a2f37;
        transition: background-color .3s linear;
        user-select: none;

        .actions {
          cursor: pointer;
          font-size: 6px;
          width: 30px;
          padding: 5px 10px 5px 0;
        }
        span {
          cursor: pointer;
          width: 100%;
          padding: 5px 0 5px 10px;
        }
        span:before {
          content: '▼';
          display: inline-block;
          transform: rotate(0deg);
          margin-right: 10px;
        }
      }
      &.closed {
        & .tab-label span:before {
          transform: rotate(-90deg);
        }
        .tab-content {
          display: none;
        }
      }
      .tab-content {
        height: 100%;

        @import "./panels/nodes";
        @import "./panels/accounts";
        @import "./panels/extrinsics";
      }
    }
  }
}
